@font-face {
    font-family: 'digital-7_monomono';
    src: url('https://github.com/jmeTV/j_me/raw/master/Fonts/Digital%20Mono%20Web/digital-7__mono_-webfont.woff2') format('woff2'),
         url('https://github.com/jmeTV/j_me/raw/master/Fonts/Digital%20Mono%20Web/digital-7__mono_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
