@font-face {
    font-family: 'Circuit';
    src: url('Circuit.woff2') format('woff2'),
        url('Circuit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

